<link rel="stylesheet" href="css/_chatbox.css">
<div id="chatbox">
    <div class="chatbox-header">
        <h3>Chat</h3>
        <button class="toggleChat">Toggle</button>
    </div>
        <!-- Chat messages will be displayed here -->
        <ul  id="message-list">
            <li class="received-message">
                <span>message 1</span>
            </li>
            <li class="self-message">
                <span>message 2</span>
            </li>
        </ul>
    <div class="chatbox-footer">
        <input type="text" id="messageInput" placeholder="Type your message...">
        <button id="sendMessage">Send</button>
    </div>
</div>
<script src="./js/chat.js"></script>