<link rel="stylesheet" href="/css/home.css" />


<div id="home-container">
  
  <section id="feed-post">
    <% if(locals.user){ %>
 
    <form action="/post/create" id="post-create-form" method="post">
      <img src="<%= user.avatar %>" alt="avatar">
      <textarea name="content" id="post-content" cols="35" rows="3" placeholder="type your post here....." required></textarea>
      <input id="post-create-button"type="submit" name="submit" value="post" />
    </form>

    <% } %>
    <div id="posts-list-container">
      <ul id="post-list">
        <!-- showing all the post  -->
        <% for(post of posts){ %> <%- include(`_post.ejs`) %> <% } %>
      </ul>
    </div>
  </section>
 
  <section id="user_friends-list">
    <h4>FRIENDS</h4>
    <% for(u of all_users) {%>
    <p>
      <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
    </p>
    <% } %>
  </section>
  <script src="/js/home_post.js"></script>
  <script src="/js/home_comment.js"></script>
  <script src="/js/likes.js"></script>
  
      
</div>

