 <link rel="stylesheet" href="/css/home.css">
    <h1>
      Konnect <%= title %>
    </h1>

    <section>
      <form action="/post/create" method="post">
        <textarea name="content" id="" cols="25" rows="3" required></textarea>
        <input type="submit" name="submi"value="post">
      </form>
    </section>
    
    


