<link rel="stylesheet" href="/css/home.css" />

<div id="home-container">

  <section id="feed-post">
    <h4>Posts</h4>
    <% if(locals.user){ %>
    <form action="/post/create" method="post">
      <textarea name="content" id="" cols="25" rows="3" required></textarea>
      <input type="submit" name="submi" value="post" />
    </form>
    <% } %>
    <div id="posts-list-container">
      <ul>
        <!-- showing all the post  -->
        <% for(post of posts){ %> <%- include(`_post.ejs`) %> <% } %>
      </ul>
    </div>
  </section>

  <section id="user_friends-list">
    <h4>FRIENDS</h4>
    <% for(u of all_users) {%>
    <p>
      <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
    </p>
    <% } %>
  </section>


</div>

