<link rel="stylesheet" href="css/left-banner.css">


<section id="left-banner">


        <% if(locals.user) { %>
        <div><%= locals.user.name %></div>
        <div id="show-friendsList" data-id="<%= locals.user.id %>">Friends</div>
        <div class="toggle-chat">ChatBox</div>
        <div > <a href="/users/profile/<%= locals.user.id %>">Profile</a></div>
        <div>
          <a href="/users/sign-out">LOG-OUT</a>
        </div>
        
        <% } else { %>
        <div><a href="/users/sign-in">SIGN-IN</a></div>
        <div><a href="/users/sign-up">SIGN-UP</a></div>
        <% } %>

  <!-- Other ChatBox and ChatBox divs here -->
</section>

<!-- <script src="/js/left-banner.js"></script> -->
