<form action="/reset-password/update-new-password" method="post">
    <input type="email" name="email" placeholder="enter email">
    <input type="password" name="password" placeholder="enter new password">
    <input type="password" name="confirmPassword" placeholder="confirm password">
    <input type="hidden" id="token" name="token" value="">
    <input type="submit" value="submit">
</form>

<script>
     // Function to extract the token from the URL
     function getTokenFromURL() {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get('token');
            
        }

        // Set the token as the value of the hidden input field
        const tokenInput = document.getElementById('token');
        tokenInput.value = getTokenFromURL();
</script>