<h1>sign in</h1>
<form action="/users/sign-in" method="get">
    <p>sign in page</p>
  <input type="text" placeholder="enter email">
  <input type="text" placeholder="enter password">
  <input type="submit" value="login">
  </form>
 