<h1>sign in</h1>
<form action="/users/create-session" method="post">
    <p>sign in page</p>
    <input type="email" name="email" placeholder="enter email" required>
    <input type="password" name="password" placeholder="enter password" required>
    <input type="submit" value="sign in">
  </form>
 