<h1>signup</h1>
<form action="/users/createUser" method="post">
    <p>sign up page</p>
  <input type="text" name="name" placeholder="enter name" required>
  <input type="email" name="email" placeholder="enter email" required>
  <input type="password" name="password" placeholder="enter password" required>
  <input type="submit" value="sign up">
  </form>