#layout-footer {
    position: sticky;
    bottom: 0px;
    width: 100%;
    color: white;
    background: grey;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;
}

#layout-footer a {
    color: white;
    text-decoration: none;
}

#layout-footer .footer-nav ul {
    display: flex;
    list-style: none;
}
#layout-footer .footer-nav li {
    padding-left: 10px;
}