header{
    display: flex;
    color: white;
    background: grey;
    height: 30px;
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
}
header li{
    list-style-type: none;
}

header a{
    color: white;
    text-decoration: none;
}